body {
    /* background:rgb(255,214,153); */
    margin: 0;
    padding: 5px;
}

#banner {
    background: #FF8C00;
    text-align: center;
}

.section {
    background: #FF8C00;
    text-align: center;
}
